#
# pin constraints
#
NET CLK_66MHZ LOC = "K15"  |  IOSTANDARD = "LVCMOS33";

NET Ethernet_MAC_COL LOC = "M18"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_CRS LOC = "N17"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_MDC LOC = "M16"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_MDIO LOC = "L18"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_PHY_RST_N LOC = "T18"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET Ethernet_MAC_RXD[0] LOC = "T17"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_RXD[1] LOC = "N16"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_RXD[2] LOC = "N15"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_RXD[3] LOC = "P18"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_RX_CLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_RX_DV LOC = "P17"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_RX_ER LOC = "N18"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_TXD[0] LOC = "K18"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_TXD[1] LOC = "K17"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_TXD[2] LOC = "J18"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_TXD[3] LOC = "J16"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_TX_CLK LOC = "H17"  |  IOSTANDARD = "LVCMOS33";
NET Ethernet_MAC_TX_EN LOC = "L17"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_4Bits_TRI_O[0] LOC = "P4"  |  IOSTANDARD = "LVCMOS18";
NET LEDs_4Bits_TRI_O[1] LOC = "L6"  |  IOSTANDARD = "LVCMOS18";
NET LEDs_4Bits_TRI_O[2] LOC = "F5"  |  IOSTANDARD = "LVCMOS18";
NET LEDs_4Bits_TRI_O[3] LOC = "C2"  |  IOSTANDARD = "LVCMOS18";
NET RESET LOC = "V4"  |  IOSTANDARD = "LVCMOS33"  |  TIG  |  PULLDOWN;
NET SPI_FLASH_HOLDn LOC = "V14"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MISO LOC = "R13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_MOSI LOC = "T13"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SCLK LOC = "R15"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_SS LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET SPI_FLASH_Wn LOC = "T14"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sin LOC = "R7"  |  IOSTANDARD = "LVCMOS33";
NET USB_Uart_sout LOC = "T7"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#

NET "CLK_66MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66666 kHz;

### Set Vccaux for S6LX9 MicroBoard to 3.3V ###
CONFIG VCCAUX = "3.3" ;

### Pull-ups on RXD are necessary to set the PHY AD to 11110b.  ###
###   Must keep the PHY from defaulting to PHY AD = 00000b      ###
###   because this is Isolate Mode                              ###
Net Ethernet_MAC_RXD<0> PULLUP;
Net Ethernet_MAC_RXD<1> PULLUP;
Net Ethernet_MAC_RXD<2> PULLUP;
Net Ethernet_MAC_RXD<3> PULLUP;

