#===============================================================================
# SDK .gitignore file.
#===============================================================================

# Eclipse metadata
.metadata/
.metadata/.lock

# Eclipse build files
*/Debug/
*/Release/

# Eclipse temporary files
*/RemoteSystemsTempFiles/

# Libraries and executables
*/*/lib/*.a
*.a
*.o

# Log files
*.log