#===============================================================================
# SDK .gitignore file.
#===============================================================================

# Eclipse metadata
.metadata/
.metadata/.lock

# Eclipse build files
*/Debug/
*/Release/

# Eclipse temporary files
*/RemoteSystemsTempFiles/

# Log files
*.log

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a